
:root{
    --font_1: normal normal normal 20px/1.4em corben,serif;
    --font_2: normal normal normal 17px/1.4em avenir-lt-w01_35-light1475496,avenir-lt-w05_35-light,sans-serif;
}

/* -------------------- SECCIÓN IMÁGENES -------------------- */

.seccion-imagenes{
    height: 1275px;
}

.container-imagen-principal{
    width: 100%;
    background-color: rgb(247, 227, 192);
    padding-bottom: 25px;
}

.container-imagen-principal img{
    width: 100%;
    height: 450px;
}

.container-imagenes-grid{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    max-height: 420px;
}

.container-imagenes-grid div img{
    width: 100%;
    height: 400px;
}

/* -------------------- SECCIÓN HISTORIA COLOMBIA -------------------- */

.seccion-texto-historia{
    background-color: rgb(170,170,170);
    padding: 80px 70px 30px 70px;
}

.container-texto-historia{
    font: var(--font_1);
    font-size: 1.3rem;
    color: rgb(79,29,14);
}

.texto-historia-fuentes{
    font-size: 1.1rem;
}

/* -------------------- SECCIÓN CONTACTO -------------------- */

.seccion-contacto{
    height: 530px;
    background-color: rgba(231, 91, 73, 0.904);
    padding-top: 5px;
}

/* -------------------- SECCIÓN FORMULARIO -------------------- */

.container-contacto-formulario{
    width: 460px;
    height: 425px;
    background-color: white;
    margin: 0 auto;
    padding: 45px 40px;
    margin: 5px auto;
}

.container-contacto-formulario form{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
}

/* -------------------- SECCIÓN TITULO DE FORMULARIO -------------------- */

.titulo-formulario{
    padding-bottom: 30px;
}

.titulo-formulario h4{
    font-family: 'Questrial', sans-serif;
    font-size: 1.9rem;
    font-weight: bold;
    line-height: 1.4em;
    letter-spacing: 0.1px;
}

/* -------------------- SECCIÓN CAMPO DE NOMBRE Y APELLIDO -------------------- */

.nombre-apellido{
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 30px;
    height: 80px;
}

.nombre-apellido div{
    display: grid;
    height: 40px;
}

.nombre-apellido div label,
.label-correo label,
.container-texto-mensaje div label{
    height: 17px;
    font-family: 'Open Sans', sans-serif;
    font-size: 0.9rem;
    font-weight: 500;
}

.nombre-apellido div input,
.input-correo input,
.container-texto-mensaje div textarea {
    height: 44px;
    border: none;
    border-bottom: 2px solid black;
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
    font-size: 1rem;
    padding-left: 15px;
}

.nombre-apellido div input:hover,
.input-correo input:hover,
.container-texto-mensaje div textarea:hover {
    border-bottom: 3px solid black;
}

.nombre-apellido div input:focus,
.input-correo input:focus,
.container-texto-mensaje div textarea:focus {
    border: none;
    border-bottom: 1px solid rgb(0, 0, 0);
    outline: none;
}

.nombre input{
    width: 200px;
}

.apellido input{
    width: 195px;
}

/* -------------------- SECCIÓN CAMPO DE CORREO -------------------- */

.container-correo{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-top: 5px;
    height: 75px;
}

.input-correo input{
    width: 441px;
}

/* -------------------- SECCIÓN CAMPO PARA ESCRIBIR MENSAJE -------------------- */

.container-texto-mensaje{
    padding-top: 15px;
    height: 120px;
}

.container-texto-mensaje div textarea{
    padding-top: 15px;
    padding-right: 10px;
    height: 60px;
    width: 441px;
    resize: none;
}

/* -------------------- SECCIÓN BOTÓN -------------------- */

.container-boton{
    padding-top: 17px;
    height: 60px;
}

.container-boton input{
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
    font-size: 0.95rem;
    background-color: black;
    border-radius: 25px 25px 25px 25px;
    height: 45px;
    width: 150px;
}

.container-boton input:hover{
    border: 1px solid black;
    background-color: white;
    color: black;
    transition: all ease 500ms;
}
