
body{
    position: absolute;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

/* ------------------ SECCIÓN INFORMACIÓN SOBRE TRABAJOS ------------------ */

.seccion-trabajos{
    height: 485px;
    background-image: url(../imagenes/personas-juntas-en-un-lugar-pobre.png);
    background-size: 400px;
    background-repeat: repeat;
    background-position: center;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px 70px;
    padding: 30px 70px 20px 70px;
}

.trabajo {
    background-color: rgba(255, 223, 95, 0.582);
    display: flex;
    flex-direction: column;
    padding: 25px 20px 12px 20px;
    height: fit-content;
    box-shadow: 6px 6px 1px -0.9px rgb(255, 187, 0);
}

.trabajo h3 {
    font-size: 1.1rem;
    font-weight: 500;
}

.trabajo h3, .trabajo p {
    font-family: cormorantgaramond-semibold,cormorantgaramond,"cormorant garamond",serif;
    color: rgb(68, 68, 68);
    font-size: 1.1rem;
}

.trabajo-boton {
    padding-top: 10px;
    text-align: right;
}

.trabajo-boton input {
    width: 150px;
    height: 35px;
    background-color: rgb(173, 173, 173);
    border: 3px double black;
    color: rgb(85, 85, 85);
    font-family: cormorantgaramond-semibold,cormorantgaramond,"cormorant garamond",serif;
    font-size: 1.1rem;
}

.trabajo-boton input:hover {
    background-color: rgb(46, 46, 46);
    border: 3px double rgb(46, 46, 46);
    color: rgb(224, 224, 224);
    transition: all ease 300ms;
}

/* ------------------ SECCIÓN FOOTER ------------------ */

footer{
    height: 100%;
}

/* -------------------- SECCIÓN MEDIA QUERIES -------------------- */

@media screen and (max-width: 668px) {

    /* ---------------- SECCIÓN INFORMACIÓN SOBRE TRABAJOS ---------------- */

    .seccion-trabajos{
        height: auto;
        gap: 25px 40px;
        padding: 25px 40px 20px 40px;
    }
}

@media screen and (max-width: 550px) {
    /* ---------------- SECCIÓN INFORMACIÓN SOBRE TRABAJOS ---------------- */

    .seccion-trabajos {
        grid-template-columns: repeat(1, 1fr);
        gap: 25px;
        padding: 25px 20px 20px 20px;
    }
}