* {
    margin: 0;
    padding: 0;
}

body{
    font-size: 10px;
    font-family: Arial,Helvetica,sans-serif;
}

:root {
    --bg-overlay-color: transparent;
    --bg-gradient: radial-gradient(circle at 52.5% 81.66666666666667%, #9E3B1B 0%, 20%, rgba(158,59,27,0) 40%), radial-gradient(circle at 6.503906249999999% 88.037109375%, rgba(253,235,201,0.99) 0%, 25%, rgba(253,235,201,0) 50%), radial-gradient(circle at 44.166666666666664% 13.333333333333334%, #ED6D5C 0%, 42%, rgba(237,109,92,0) 70%), radial-gradient(circle at 81.25% 50%, #9090C3 0%, 42%, rgba(144,144,195,0) 70%), radial-gradient(circle at 48.9013671875% 49.521484375%, #FFE001 0%, 100%, rgba(255,224,1,0) 100%);
    --font-1: normal normal bold 24px/1.4em corben,serif;
}

/* -------------------- SECCIÓN TITULO PRINCIPAL -------------------- */

header {
    background-color: rgb(231, 123, 108);
    padding-top: 4px;
    border-bottom: 0.1px solid rgba(41, 41, 41, 0.774);
    box-shadow: 0 3px 5px 0 black;
}

.container-titulo-principal{
    /*margin-top: 4px;*/
    background-color: var(--bg-overlay-color);
    background-image: var(--bg-gradient);
    height: 85px;
}

.container-titulo-principal h2{
    padding-top: 18px;
    padding-left: 50px;
    transform: scaleY(2);
    letter-spacing: 0.5px;
    word-spacing: 2.5px;
}

.container-titulo-principal h2 a{
    text-decoration: none;
    color: rgb(51, 51, 51);
    font-family: amatic sc,cursive;
    font-size: 0.9rem;
    font-weight: lighter;
}


/* -------------------- SECCIÓN BARRA DE NAVEGACIÓN -------------------- */

.container-menu{
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style: none;
    padding: 5px 0;
    height: 35px;
}

.container-menu li{
    padding: 9px 10px;
    font-size: 15px;
    font-family: cormorantgaramond-semibold,cormorantgaramond,"cormorant garamond",serif;
    letter-spacing: 0.05em;
    font-weight: 400;
}

.container-menu li:hover{
    border-top: solid 1px rgb(255, 255, 255);
    border-bottom: solid 1px rgb(255, 255, 255);
}

.container-menu li:active{
    border: solid 1px rgb(255, 255, 255);
    transition: all ease 600ms;
}

.container-menu a{
    color: black;
    text-decoration: none;
}

/* ------------------ SECCIÓN FOOTER ------------------ */

footer{
    background-color: rgb(233, 107, 90);
}

.container-contacto-personal{
    padding: 20px 70px 20px 70px;
    display: flex;
    flex-direction: row;
    height: 40px;
    gap: 40px;
}

.contacto-personal-correo,
.container-contacto-telefono{
    display: flex;
    flex-direction: row;
}

.contacto-icono-correo{
    border-radius: 50%;
    width: 40px;
    height: 30px;
    background-color: rgb(134, 180, 224);
    text-align: center;
    padding-top: 8px;
}

.contacto-icono-correo img{
    width: 25px;
}

.contacto-icono-correo img:hover,
.contacto-icono-telefono img:hover{
    transition: 500ms ease all;
    transform: scale(0.90);
}

.contacto-correo{
    padding-top: 10px;
    padding-left: 5px;
}

.contacto-personal-correo a,
.contacto-telefono a{
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
    font-weight: 500;
    text-decoration: none;
}

.container-contacto-telefono{
    padding-top: 7px;
}

.contacto-telefono{
    padding-top: 3px;
    padding-left: 5px;
}

.contacto-icono-telefono img{
    width: 25px;
}
